
filter(args)
  -o-filter args
  -ms-filter args
  -moz-filter args
  -webkit-filter args
  filter args

fadeOut(n)
  filter grayscale(n)

@keyframes fadeIn
  0%
    opacity .4
    filter grayscale(1)
  25%
    opacity .8
  100%
    filter grayscale(0)

@keyframes openSpace
  from
    background-color tint(themeColor, 97%)
  to
    max-height 50px

@keyframes fallInX
  0%
    opacity 0
    transform translateY(-25px)
  100%
    opacity 1
    transform translateY(0)
