
@keyframes openSpace
  to
    max-height 50px

@keyframes focusIn
  0%
    -o-filter blur(20px)
    -ms-filter blur(20px)
    -moz-filter blur(20px)
    -webkit-filter blur(20px)
  100%
    -o-filter blur(0)
    -ms-filter blur(0)
    -moz-filter blur(0)
    -webkit-filter blur(0)

@keyframes fallInX
  0%
    opacity 0
    transform translateY(-25px)
  100%
    opacity 1
    transform translateY(0)
