
fadeOut(px)
  -o-filter grayscale(px)
  -ms-filter grayscale(px)
  -moz-filter grayscale(px)
  -webkit-filter grayscale(px)
  filter grayscale(px)

blurry(px)
  -o-filter blur(px)
  -ms-filter blur(px)
  -moz-filter blur(px)
  -webkit-filter blur(px)
  filter blur(px)

@keyframes fadeIn
  0%
    opacity .4
  100%
    opacity 1

@keyframes openSpace
  from
    background-color tint(themeColor, 95%)
  to
    max-height 50px

@keyframes focusIn
  0%
    opacity .3
    blurry(1px)
  100%
    opacity 1
    blurry(0)

@keyframes fallInX
  0%
    opacity 0
    transform translateY(-25px)
  100%
    opacity 1
    transform translateY(0)
