
footerHeight = 40px
lightText    = lighten(textColor, 25%)
leading      = grid/2
onTop        = 11

body
  margin-bottom (footerHeight + grid)

h1, h2
  margin-left grid
  font-family 'courier new', 'courier'
  letter-spacing -2px

h2, h3
  margin-top grid * 2.5

.HomePage, .TodoPage
  overflow hidden
  form
    position relative
    input[type='text']
      width 100%
      &.indent
        text-indent (grid * 4) - 1
        font-style italic
    button
      position absolute
      z-index onTop
      right 0
      top 0
    small
      position absolute
      top grid
      right 105px
      font-size .85em
      color lightText
      z-index onTop
  ol
    position relative
    overflow hidden
    // two red lines simulating 8x11 paper
    &:after
      position absolute
      z-index onTop
      opacity .25
      top 0
      left grid * 3.5
      content ''
      width 3px
      height 100%
      border-left 1px solid red
      border-right 1px solid red
    li
      position relative
      display block
      max-width 100%
      input[type='checkbox']
        position absolute
        left grid
        top grid
        z-index onTop
      input[type='text']
        padding 5px 9px
        font-size 1em
        text-indent grid * 4
        border-bottom 1px solid lighten(textColor, 95%)
        width 100%
        &:hover, &:focus
          border-bottom 1px solid lighten(themeColor, 60%)
          ~ .delete
            display block
      .name
        position absolute
        font-size .8em
        color lighten(textColor, 30%)
        text-transform capitalize
        z-index onTop
        top grid / 2
        right grid * 7
        max-width grid * 6
        overflow hidden
        text-overflow ellipsis
      .delete
        position absolute
        display none
        cursor pointer
        right grid
        top 0
        color themeColor
        z-index onTop
        transform scale(1)
        &:hover
          display block
          transform scale(1.4)
      // checked "completed" style
      input:checked + input
        text-decoration line-through
        background transparent
        border-bottom-color transparent
    .actions
      font-size .8em
      margin grid 0 0 (grid * 5)
      a
        margin-right grid
        &.active
          text-transform uppercase

  footer
    margin-top (grid * 2)
    text-align center
    .last-visited
      position fixed
      bottom grid
      right grid * 2
      color lighten(textColor, 50%)
      background bodyColor
