
label
  cursor pointer
  > input
    cursor pointer
    margin-left .25em

input[type="checkbox"]
  cursor pointer

input[type="password"], select, textarea, input[type="text"]
  text-indent 3px
  overflow hidden
  cursor pointer
  text-overflow ellipsis
  outline none
  padding 15px
  vertical-align middle
  border-radius 3px
  font-size 1.25em
  color lighten(textColor, 20%)
  border 1px solid lighten(textColor, 95%)
  background-image linear-gradient(to top, #fff, #fcfcfc 3px)
  border-bottom 2px solid lighten(textColor, 85%)
  vertical-align middle
  outline none
  transform scale(1)
  transition-duration .3s
  transition-property transform
  transition color .1s ease-out, border .2s ease-out .15s
  &:hover, &:focus
    position relative
    border-bottom-color themeColor
    background-image none
    background-color #fff
  &:hover
    z-index 1
    color textColor
    box-shadow 0 0 18px -11px themeColor
    transition all 0s
  &:focus
    cursor text
    z-index 10
    box-shadow 0 0 10px -5px themeColor
    color darken(textColor, 20%)
    transition color .5s ease-out, border .05s ease-out

.button, input[type="button"], input[type="submit"], button
  position relative
  cursor pointer
  transition box-shadow .2s ease-in .05s, border .2s ease-in .05s, color .2s ease-in .05s, text-shadow .2s ease-in .05s
  opacity 1
  outline none
  white-space nowrap
  position relative
  vertical-align middle
  letter-spacing 1px
  background-color themeColor
  background-image linear-gradient(to bottom, themeColor 93%, darken(themeColor, 10%) 10px)
  text-shadow 0 1px 0 lighten(textColor, 25%)
  border 1px solid lighten(textColor, 80%)
  border-top 1px solid darken(themeColor, 8%)
  border-left 1px solid darken(themeColor, 20%)
  border-right 2px solid darken(themeColor, 20%)
  border-bottom 2px solid darken(themeColor, 40%)
  color themeTextColor
  font-size 1.25em
  font-weight 500
  padding 15px 20px
  text-align center
  border-radius 3px
  transition all .4s ease-out .1s
  transform scale(1.012)
  &:hover
    border-top-color themeColor
    border-bottom-color darken(themeColor, 40%)
    border-right-color darken(themeColor, 30%)
    text-shadow 0 1px 1px darken(textColor, 50%)
    transform scale(1.019) translateY(-1px)
    transition none
    &:before
      opacity .7
  &:active
    text-indent 1px
    border-top-color darken(themeColor, 40%)
    border-bottom none
    box-shadow 1px 1px 1px darken(themeColor, 30%) inset!important
    text-shadow 0 1px 0 rgba(textColor, .3)
    transform translateY(1px) scale(1)
    opacity .9
    &:before
      opacity .3
  // gloss fix
  &:before
    position absolute
    content ''
    height 50%
    top -1px
    right -1px
    bottom -1px
    left -1px
    opacity .6
    background-image linear-gradient(to bottom, rgba(backgroundColor,.3) 0%, rgba(backgroundColor,.25) 100%)
    border-radius .5em .5em 6em 6em/.1em .1em 1em 1em
  &:focus
    box-shadow 0 0 3px 1px lighten(themeColor, 25%)
    text-shadow 0 1px 0 darken(textColor, 30%)
    transition none
  &:disabled
    cursor not-allowed
    border-bottom-color darken(themeColor, 10%)
    text-shadow none
    opacity .83
