
// when features.dimension is true...

body
  .dimension
    position fixed
    bottom 0
    left 0
    right 0
    border-top 2px solid #222
    background-color rgba(0,0,0,.8)
    height 210px
    padding-left leftNavWidth
    text-align center
    .dimension-logo
      left -(grid / 2)
    .fb-like
      display block
      bottom -80px
      height 28px
      left grid * 2.3
      position relative
      min-width 123px
      visibility hidden
    .ribbon
      position fixed
      z-index 1
      top -9px
      right -8px
      opacity .75
      &:hover
        opacity 1
  &.loaded
    .dimension
      visibility visible

// handle mobile screens
@media all and (max-width: 768px)
  body
    .dimension
      position fixed
      padding-left 0
      bottom -(grid * 2)
      left 50%
      z-index 0
      margin-left -120px
      .fb-like, .ribbon
        display none!important
