
// handle phones and narrower screens
@media all and (max-width: 768px)
  body
    font-size .8em
    padding 0
    margin 0
    &.scrolled
      // hide blue line up top on mobile (reclaim pixles)
      &:after
        border none
        border-bottom none
    a:hover:after
      display none
      transition none
    h1
      font-size 1.8em
      margin-left grid
      margin-right @margin-left
    img
      transform scale(.7)
    button
      padding-left grid
      padding-right @padding-left
    .PublicPage, .MyTodoPage
      margin-bottom grid * 6
      padding-left 0
      padding-right @padding-left
      overflow visible
      h2
        vertical-align bottom
        margin-top 40px
        margin-bottom 50px
        margin-left grid * 5
      header
        left 0
        right 0
        top (grid * 6.6)
        form
          margin 0
          .clip
            input[type='text']
              height 22px
              text-indent grid * 3.6
          button
            height 33px
      ol
        z-index 1
        overflow visible
        padding 0 0 (grid * 5) 0
        margin-bottom 125px
        box-shadow none
        border-bottom-width 1px
        background-color #fff
        // simulated paper lines
        &:after
          left grid * 3.5
        // search
        > input
          left grid * 3.5
          top -(grid * 3.5)
          max-width grid * 15
        li
          overflow hidden
          input[type='checkbox']
            margin-top -3px
          input[type='text']
            text-indent grid * 4.5
          span
            font-style normal
            right (grid * 2)
            max-width grid * 9
          .placeholder
            text-indent grid * 5.1
          .delete
            right grid
        // "next" link (hidden-- use hamburger)
        + a
          display none
      .actions
        font-size 1.2em
        margin auto
        left 0
        right 0
        padding 0
        a
          margin 0 (grid * 2)
          min-width grid * 4.5
      footer
        z-index onTop * 2
    .HomePage
      form
        margin-left grid * 2
        margin-right @margin-left
        overflow hidden

    .dimension
      position fixed
      bottom grid
      left 50%
      z-index 0
      margin-left -120px
      .fb-like, .ribbon
        display none!important
