
// handle phones and narrower screens
@media all and (max-width: 768px)
  body
    font-size .8em
    padding 0
    margin 0
    h1
      font-size 1.8em
      margin-left grid
      margin-right @margin-left
    img
      transform scale(.7)
    button
      padding-left grid
      padding-right @padding-left
    .PublicPage, .MyTodoPage
      padding-left 0
      padding-right @padding-left
      overflow hidden
      h2
        margin-left grid * 5
      header
        left 0
        right 0
        top (grid * 6.4)
        form
          margin 0
          .clip
            input[type='text']
              height 22px
              text-indent grid * 3.6
          button
            height 33px
      ol
        z-index 1
        overflow visible
        padding 0 0 (grid * 5) 0
        margin-bottom 125px
        background-color #fff
        // search
        > input
          right grid
          top (grid / 2)
          max-width grid * 7
          text-align center
        li
          input[type='checkbox']
            margin-top -3px
          input[type='text']
            text-indent grid * 4.5
          span
            font-style normal
            right (grid * 2)
            max-width grid * 9
          .delete
            right grid
        // "next" link
        + a
          margin-top -67px
          font-size 1.12em
          right grid * 1.5
      .actions
        font-size 1.2em
        margin auto
        left 0
        right 0
      footer
        z-index onTop * 2
        margin-top grid
    .HomePage
      form
        margin-left grid * 2
        margin-right @margin-left
        overflow hidden

    .dimension
      position fixed
      bottom 0
      left 50%
      z-index -1
      margin-left -120px
      .fb-like, .ribbon
        display none!important
