
body
  font-family 'Helvetica Neue', 'Helvetica', 'Arial'
  line-height 1.5em
  padding 1em
  color textColor
  background bodyColor
  font-size 1.2em
  opacity 0
  &.loaded
    opacity 1
    transition opacity .15s ease-in

a
  position relative
  cursor pointer
  display inline-block
  color themeColor
  text-decoration none
  transition border-bottom .023s ease-in .01s
  border-bottom 1px solid transparent
  &:after
    content ''
    position absolute
    left 0
    right 0
    width 0
    bottom -1px
    height 4px
    background themeColor
    transition all .1s ease-out .25s
  &:hover, &:visited
    color darken(themeColor, 10%)
  &:hover
    transform scale(1.03)
    transition none
    box-shadow inset 0 -3px 0 tint(themeColor, 30%)
    &:after
      transition width .1s ease-in
      width 100%
  &.nofx
    &:hover
      border none
      box-shadow none
    &:after
      display none

h1, h2, h3, h4, h5, h6
  margin-top (grid/3)
  margin-bottom (grid/4)
  line-height 1.1em
  text-transform capitalize
h1
  font-size 2.3em
h2
  font-size 1.7em
h3
  font-size 1.2em
h4
  font-size 1em
h4
  font-size .9em
h5
  font-size .7em

code
  line-height 1.1em
  font-size .9em
